{% extends "base.html" %}
{% block content %}
<style>
    body {
  background-image:url('https://media.istockphoto.com/id/916628728/photo/open.jpg?s=612x612&w=0&k=20&c=keovmXoVZbbd5dcSxoYIbZs8AnHsxQ2nFdhfD9UojiQ=');
   }

    p    {color: white;text-align: justify;font-size: xx-large;font-style: italic;}
    </style>

<section id="aboutus">
    <div class="container">
      <div class="row align-items-left">
        <div class="col text-col">
          
          <p style="background-color: purple"> WELCOME TO BOOK_CATALOG WEBSITE</p>
          <p style="background-color: darkblue"> book_catalog is  simple book collection system that allows its clients to have an an account and to have  book collection on the site with the ability to add, update and delete books on the site whenever they want.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
