{% extends "base.html" %}
{% block content %}

<div class="about-me-text">
  <h2>About Us</h2>
  <p>a simple book collection system that allows its clients to have an an account and to have  book collection on the site with the ability to add, update and delete books on the site whenever they want.






    <img src="https://media.istockphoto.com/id/1354441996/photo/image-of-open-antique-book-on-wooden-table-with-glitter-overlay.jpg?b=1&s=170667a&w=0&k=20&c=O_VZbgONe4WTXPOEvwKYezhqFkzAXpr2g-lCdpdj5FU=" alt="me">
</div>
{% endblock content %}